@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-h: 6rem;
    --icons-rotate: 3deg;
}

html,
body {
    @apply scroll-smooth;
}

/* width */
::-webkit-scrollbar {
    @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-base-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-accent hover:bg-accent/75;
}

@keyframes iconsMove {
    0%,
    100% {
        rotate: var(--icons-rotate);
    }
    50% {
        rotate: calc(var(--icons-rotate) * -1);
    }
}
